body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}
header {
	background-color: #004c97;
	color: white;
	padding: 20px;
	text-align: center;
}
nav {
	display: flex;
	justify-content: center;
	background-color: #003366;
	padding: 10px 0;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
}
nav a:hover {
	background-color: #002244;
}
.container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
	background-color: #004c97;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}